#poet-container{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 20px 20px 20px;
    margin-bottom: 100px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.poet-info-wrap{
    display: flex;
    justify-content: space-between;
}
.poet-title{
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.poet-img{
    width: 500px;
    height: 270px;
}
.poet-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.poet-info{
    width: 50%;
    margin-right: 5rem;
}
/* ---------------------------Слайдер-------------------- */
.carusel{
    width:40%;
}
.carusel-item{
    height: 620px;
    object-fit: cover;
}
.carusel-item img{
    object-fit: cover;
    border-radius: 7px;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.map-video{
    display: block;
}
.map{
    margin-bottom: 15px;
}
@media screen and (max-width: 1200px) {
    .carusel{
        width: 300px;
    }
    .map iframe, .video iframe{
        width: 300px;
        height: 300px;
    }
    .footer{

        justify-content: space-evenly;
    }
}
@media screen and (max-width: 800px) {
    .carusel{
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
    }
    .carusel-item{
        height: 400px;
    }
    .footer{
        display: block;
    }
    .map-video{
        display: flex;
        justify-content: space-evenly;
    }
    .map iframe, .video iframe{
        width: 250px;
        height: 250px;
    }
    .footer{

        justify-content: space-evenly;
    }
}
@media screen and (max-width: 750px) {
    .map-video{
        display: inline-block;
        /* margin: 0 auto; */
        
    }
    .footer{
        text-align: center;
    }
    .map iframe, .video iframe{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 450px){
 .carusel{
    width: 210px;
    height: 320px;
 }
 .carusel-item{
    width: 210px;
    height: 320px;
 }
 .map iframe, .video iframe{
    width: 210px;
    height: 210px;
}
}
@media screen and (max-width: 1050px) {
    .poet-info-wrap{
        flex-direction: column-reverse;
    }
    .poet-img{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 350px;
    }
    .poet-info{
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .poet-img{
        width: 80%;
        height: 250px;
    }
}
@media screen and (max-width: 350px) {
    .body-container{
        margin-left: 20px;
    }
}